In [67]:
import pandas as pd

df = pd.read_csv('disney_title.csv')

df

         type  ...        Date
0       Movie  ...  2021-11-26
1       Movie  ...  2021-11-26
2       Movie  ...  2021-11-26
3       Movie  ...  2021-11-26
4     TV Show  ...  2021-11-25
...       ...  ...         ...
1445    Movie  ...  2021-06-04
1446    Movie  ...  2021-04-02
1447    Movie  ...  2020-12-18
1448    Movie  ...  2020-09-18
1449    Movie  ...  2020-04-01

[1450 rows x 11 columns]

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'].dtype)

datetime64[ns]

In [17]:
filtered_df = df[(df['Date'] >= '2020-01-01') & (df['Date'] < '2021-01-01')]
print(filtered_df['title'][0:10])

325                                         Burrow
326                        Cosmos: Possible Worlds
327    Disney Gallery / Star Wars: The Mandalorian
328                          Max Keeble's Big Move
329                                           Soul
330                      Arendelle Castle Yule Log
331                       Buried Truth of the Maya
332                    Disney Parks Sunrise Series
333                                Dory's Reef Cam
334                                 Into the Woods
Name: title, dtype: object

In [18]:
df = df.drop('release_year', axis=1)
print(list(df.columns))

['type', 'title', 'director', 'cast', 'country', 'rating', 'duration', 'listed_in', 'description', 'Date']

In [27]:
df = pd.read_csv('disney_title.csv')

df.columns = [name.capitalize() for name in df.columns]
print(list(df.columns))

['Type', 'Title', 'Director', 'Cast', 'Country', 'Release_year', 'Rating', 'Duration', 'Listed_in', 'Description', 'Date']

In [51]:
df['listed_in_new'] = df['listed_in'].str.replace(" &", ",")
print(df['listed_in'].tail())

1445        Action-Adventure, Family, Science Fiction
1446                 Action-Adventure, Comedy, Family
1447                      Biographical, Comedy, Drama
1448                     Buddy, Comedy, Coming of Age
1449    Action-Adventure, Animals & Nature, Animation
Name: listed_in, dtype: object

In [52]:
print(df.isnull().sum())

type               0
title              0
director         473
cast             190
country          219
release_year       0
rating             3
duration           0
listed_in          0
description        0
Date               3
listed_in_new      0
dtype: int64

In [53]:
df.dropna(how='any', inplace=True)
print(df.isnull().sum())

type             0
title            0
director         0
cast             0
country          0
release_year     0
rating           0
duration         0
listed_in        0
description      0
Date             0
listed_in_new    0
dtype: int64

In [62]:
df = pd.read_csv('disney_title.csv')

print(round(df.isnull().mean() * 100, 2))

type             0.00
title            0.00
director        32.62
cast            13.10
country         15.10
release_year     0.00
rating           0.21
duration         0.00
listed_in        0.00
description      0.00
Date             0.21
dtype: float64

In [68]:
df['country'] = df['country'].fillna('Country not specified')
print(df['country'])

0                        Country not specified
1                        Country not specified
2                                United States
3                        Country not specified
4                        Country not specified
                         ...
1445             United States, United Kingdom
1446                     United States, Canada
1447    United Kingdom, Germany, United States
1448    United Kingdom, Germany, United States
1449                             United States
Name: country, Length: 1450, dtype: object